# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
package-lock.json
.pub-cache/
.pub/
pubspec.lock
pubspec.yaml
build/
analysis_options.yaml

# Web related
lib/generated_plugin_registrant.dart
node_modules/
web/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
android/